<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user, posts: current_user.posts_in_communities_joined).html_safe %>
  </script>
<% end %>

<main id="root">

</main>