/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
  text-size-adjust: 100%;
  display: block;
}

 body {
   margin: 0px;
   overflow: auto;
   min-width: 320px;
   background-color: rgb(255, 255, 255);
 }

 .header-div {
   margin-top: 64px;
   display: block;
 }
 .NavBar {
   background-color: white;
   display: block;
   text-size-adjust: 100%;
   margin-top: 0;
   top: 0;
   width: 100%;
   z-index: 1;
   position: absolute;
   border-bottom: solid lightgray 1px;
   overflow: hidden;
 }

 .NavBar header {
   background-color: white;
   position: fixed;
   left: 0;
   display: inline-flex;
   width: 100%;
   z-index: 2;
   justify-content: space-between;
   
 }

 .NavBar-nav {
   background-color: white;
   position: relative;
   display: inline-flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   margin-top: 15.5px;
   margin-bottom: 15.5px;
 }

  .NavBar-nav > a {
    position: relative;
    left: 16px;
 }

 .NavBar-login-signup {
    position: relative;
    display: inline-block;
    right: 16px;
 }

 .header-login, .header-signup {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    text-decoration: none;
    
 }

 .header-login {
   margin-left: 20px;
 }
 .header-signup {
    background-color: rgb(232, 91, 70);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 9999px;
    padding: 0.46875rem 1rem;
    margin-left: 20px;
 }

 .body-container {
   display: block;
   width: 100%;
   overflow: hidden;
   text-align: center;
   margin-right: 0;
   position: relative;
 }

 .outer-main{
    display: block;
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.outer-main-2 {
  width: 100%;
  min-height: 60vh;
}

.outer-main-3 {
    background-color: rgb(20, 21, 24);
    box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.outer-main-4 {
  width: 100%;
    overflow: hidden;
}

.outer-main-5 {
  box-sizing: border-box;
    max-width: 72rem;
    width: 100%;
    margin: 0px auto;
}

.outer-main-6 {
  align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: -0.5rem;
    margin-bottom: 0rem;
    margin-left: -0.5rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
 
 .main-text1 {
    box-sizing: border-box;
    max-width: 50%;
    flex: 0 0 100%;
    padding: 0rem 0.5rem;
    flex-basis: 50%;
 }

  .main-text2 {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

  .main-text3 {
    box-sizing: border-box;
    padding-top: 5.5rem;
    padding-right: 2.5rem;
    padding-bottom: 6.5rem;
    padding-left: 2.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

 .main-header-container {
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

 .main-header {
  line-height: 1.25 !important;
  font-size: 3.5rem !important;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgb(255, 66, 77);
    font-family: Walsheim, sans-serif;
    position: relative;
    text-align: left;
    font-weight: 700 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

 .main-description-container {
    text-align: left;
    box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

 .main-description {
    color: rgb(255, 255, 255);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: 400 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

 .main-video1 {
    box-sizing: border-box;
    max-width: 50%;
    flex-basis: 50%;
    flex: 0 0 100%;
    padding: 0rem 0.5rem;
 }

  .main-video2 {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

  .main-video3 {
    box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

  .main-video4 {
    box-sizing: border-box;
    padding-top: 6.5rem;
    padding-right: 2.5rem;
    padding-bottom: 6.5rem;
    padding-left: 2.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

 .video-button {
    box-shadow: none;
    position: relative;
    transform: none;
    width: 100%;
    background: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    cursor: pointer;
 }

 .inner-video circle {
    fill: rgb(255, 66, 77);
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    align-self: center;
    stroke-width: 1.2px;
    position: absolute;
    overflow: hidden;
    display: inline;
 }

.inner-video svg{
    overflow: hidden;
    align-self: center;
    fill: transparent;
    stroke-width: 1.2px;
    height: 4.8rem;
    width: 4.8rem;
    cursor: pointer;
    position: relative;
 }

 .inner-video {
   position: relative;
   display: inline;
   overflow: hidden;
 }

 .get-started {
    background-color:  rgb(255, 66, 77);
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    position: relative;
    text-align: center;
    text-transform: none;
    color: rgb(255, 255, 255);
    font-size: 1rem ;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 66, 77);
    padding: 0.78125rem 1.5rem;
    text-decoration: none;
    color: white;
 }

 .get-started > a {
   text-decoration: none;
   color: white;
 }

 .demo-button {
   background-color:  rgb(255, 66, 77);
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    position: relative;
    text-align: center;
    text-transform: none;
    color: rgb(255, 255, 255);
    font-size: 1rem ;
    border-radius: 9999px;
    border-width: 0px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-color: rgb(255, 66, 77);
    margin-bottom: 2px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    left: 20px;
 }

 .login-signup {
  margin-top: 40px;
  align-items: flex-start;
  display: flex;
 }

 .user-page, .Demo-page {
   text-align: center;
 }

 .food-video {
   margin: 0;
   padding: 0;
   border: none;
   size: 100%;
   position: relative;
   float: left;
   
 }

.login-form-container, .signup-form-container  {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.login-form-header, .signup-form-header {
    color: rgb(36, 30, 18);
    font-family: Walsheim, sans-serif;
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.25;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 21px;
    display: block;
    overflow: hidden;
}

.login-form-box, .signup-form-box {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.login-form, .signup-form {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    display: inline-block;
    align-content: center;
    width: 514px;
    border: solid lightgray 1px;
}

.login-form label, .signup-form label {
  display: block;
  text-align: left;
  color: rgb(112, 108, 100);
  font-size: 14px;
}

.login-form input, .signup-form input {
  margin-bottom: 22px;
  width: 100%;
}

.session-submit {
  height: 45px !important;
}


#password, #email, #name, #confirm-password, #community-name {
    margin-top: 10px;
    resize: none;
    min-width: 0px;
    width: 100%;
    font-weight: normal;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(36, 30, 18);
    height: 3rem;
    font-size: 1rem !important;
    background: rgb(245, 244, 242);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-image: initial;
    outline: none;
    padding: 0.75rem 1rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border-radius: 4px;
}
.name-div {
  justify-content: start !important;
}
.name-col {
  flex-basis: 22% !important;
}

.session-submit {
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(232, 91, 70);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-transform: none;
    user-select: none;
    white-space: unset;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 91, 70);
    border-image: initial;
    padding: 0.78125rem 1.5rem;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.other-form {
    display: block;
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.login-link-text, .signup-link-text {
    display: inline-block;
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    right: 2px;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    background: none;
    border: none;
    outline: none;
}

.login-link-text > a, .signup-link-text > a {
  display: inline-block;
  color: rgb(232, 91, 70);
  cursor: pointer;
  left: 3px;
  position: relative;
  margin-top: 22px;
}

.signed-in-user-nav {
  position: relative;
  display: inline-flex;
  align-self: center;
    box-sizing: border-box;
}
.current-user-menu {
  cursor: pointer;
  background-color: rgb(232, 91, 70);
  border-radius: 5%;
  padding: 2px;
  font-weight: 700;
  position: relative;
  margin-right: 17px;
  margin-left: 20px;
  display: block;
    background-size: cover;
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: center center;
     background-clip: padding-box;
     position: relative;
}

.logo-container {
  align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    position: relative;
    overflow: visible;
}

.user-logo {
    display: block;
    background-clip: padding-box;
    background-image: url(https://c8.patreon.com/2/200/7025471);
    background-size: cover;
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border: none; 
}

.list-container {
  position: absolute;
  top: 30px;
  right: 5px;
  bottom: auto;
  color: black;
  overflow: visible;
  display: none;
  list-style: none;
  width: max-content;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
}

.list-container > ul {
  list-style: none;
  width: 100%;
  margin-top: 0.5rem;
    text-align: left;
    padding: 0px; 
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    text-decoration: none;
    color: rgb(106, 103, 95);
    font-family: aktiv-grotesk, sans-serif;
    flex-direction: column;
}

.header-menu-creator, .header-menu-logout {
  width: 100%;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  color: black;
}

.list-container > ul > li {
  font-family: sans-serif;
  font-weight: 400 !important;
  text-decoration: none !important;
  right: 20px;
  font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-weight: 500 !important;
    font-size: 1rem;
    line-height: 1.5 !important;
    margin: 0px;
    width: 100%;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    flex: 1;
    text-decoration: none;
    list-style: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.list-container li:hover {
  background-color: #d3d3d3;
}

.logo-container:hover > .list-container,
.list-container:hover > .list-container {
  display: block;
  position: absolute;
}

.session-errors, .confirm-password-errors, .community-errors {
  list-style: none;
  color: rgb(232, 91, 70);
  text-align: left;
}

.community-errors {
  font-family: "aktiv-grotesk-std", sans-serif !important;
  font-size: 14px !important;
  position: absolute !important;
  display: block !important;
  font-weight: 400 !important;

}

.community-errors-list {
  margin: 0 !important;
  padding: 0 !important;
}

.community-name-container {
  display: flex;
  flex-direction: column;
  width: 78%;
  text-align: left;
}

.other-form a:active .session-errors-list {
  display: none;
}

Header {
  position: absolute;
  border-bottom: solid lightgray 1px;
  width: 100%;
}

.create-form {
  -webkit-box-align: center;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    padding-top: 2rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    align-items: space-between;
}

.create-form-nav {
    box-sizing: border-box;
    display: flex;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: -1px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border-bottom: 1px solid lightgray;
    align-items: center;
    justify-content: baseline;
    color: rgb(106, 103, 95);
    font-family: aktiv-grotesk, sans-serif;
}

.create-form-nav-left {
  justify-content: flex-start;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.create-form-nav-left > div, .create-form-nav-right > label {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.create-form-nav-right {
  justify-content: flex-end;
  -webkit-box-align: baseline;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: -0.5rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.create-form-nav-right > label, .create-form-nav-right > button {
  align-items: center;
}
.create-form-launch > button {
  display: block;
  -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    box-sizing: border-box;
    cursor: pointer !important;
    display: inline-flex;
    font-weight: 500;
    background-color: rgb(245, 244, 242);
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    white-space: unset;
    width: unset;
    font-size: 0.875rem !important;
    color: rgb(177, 172, 163) !important;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(245, 244, 242);
    padding: 0.46875rem 1rem;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.create-form-launch:hover > button {
  background-color: lightgray;
  cursor: pointer !important;
  font-weight: 700 !important;
  color: rgb(106, 103, 95) !important;
}

.create-form-intro {
  display: block;
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.create-form-basics-tiers {
  line-height: 1.25 !important;
  font-size: 2.125rem !important;
  font-family: aktiv-grotesk, sans-serif;
  margin-bottom: 5px;
}

.create-form-set-details {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(112, 108, 100);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    text-align: center;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    margin: 0.5rem 0rem !important;
}

#submit-form {
  display: none;
}

.create-form-case {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border: solid lightgray 1px;
    width: 60%;
}
.create-form-case > label {
  display: block;
  position: absolute;
      flex-basis: 30%;
    font-weight: 700;
    margin-right: 1rem;
    margin-bottom: 0;
}

.create-form-case span {
  color: rgb(112, 108, 100);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    justify-content: space-between;
    align-items: left;
    width: 600px;
}
.name-div, .short-desc-div, .bronze-div, .silver-div, .gold-div {
  display: flex;
  position: relative;
  box-sizing: border-box;
    flex-direction: row;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    justify-content: space-between;
    align-items: left;
    font-weight: 700;
}

.short-desc-div {
  padding-bottom: 1.5rem;
}

.create-form-name, .create-form-short-desc, .plural-label {
  display: block;
  position: relative;
  color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    flex-basis: 30%;
    font-weight: 700;
    margin-right: 0rem;
    margin-bottom: 0;
}

.name-col, .short-desc-col, .plural-label-div, .bronze-col, .silver-col, .gold-col {
  display: block;
  flex-direction: column;
  text-align: left;
    width: 30%;
    font-weight: 700;
    margin-right: 1rem;
    margin-bottom: 0;
}

.bronze-div {
  margin-top: .5rem;
}
.plural-label-div {
  width: 30%;
  flex-basis: 30%;
}
.plural-label {
  margin-top: 7px;
  width: 80%;
}
.name-div #name {
  justify-content: baseline;
  margin-top: 0px;
}

#short-desc {
      resize: none;
    min-width: 0px;
    width: 100%;
    font-weight: normal;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(36, 30, 18);
    height: 3rem;
    font-size: 1rem !important;
    background: rgb(245, 244, 242);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-image: initial;
    outline: none;
    padding: 0.75rem 1rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border-radius: 4px;
}

.plural-radio-div {
  display: block;
  position: absolute;
  flex-basis: 50%;
  width: 100%;
}




.plural-div {
  flex-direction: row;
  position: relative;
  border: transparent;
  overflow: visible;
  border-image-width: 0em;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  display: flex;
  margin-top: 0;
  padding-top: 0;
  
}

.plural-radio-div {
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: block;
    flex-basis: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    position: relative;
    text-align: left;
    
}

.plural-div fieldset {
  border: none;
  position: relative;
  display: block;
  width: fit-content;
  
}

.inner-plural-div {
  align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    
}

.inner-plural-div > div {
  box-sizing: border-box;
    display: inline-block;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    
}

.is-div, .are-div {
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
}

.plural-radio-div > fieldset {
  left: -20px;
}

.is-creating, .are-creating {
  display: inline-block;
  transform: scale(1.5);
  position: relative;
  justify-content: space-between;
}

.is-label, .are-label {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  left: 12px
}

.isare {
  font-weight: 700 !important;
  color: rgb(36, 30, 18) !important;
    font-family: aktiv-grotesk, sans-serif !important;
    position: relative;
}

.inner-plural-div input {
  cursor: pointer;
}

.outer-about-div {
    box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: block;
    width: 100%;
}

.about-div {
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(229, 227, 221);
    border-bottom: 1px solid rgb(229, 227, 221);
    border-left: 1px solid rgb(229, 227, 221);
    border-right: 1px solid rgb(229, 227, 221);
    border-radius: 4px;
    overflow: hidden;
}

.inner-about-div {
    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: left;
}

.about-span {
    color: rgb(36, 30, 18) !important;
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-weight: 700 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about-required {
    color: rgb(112, 108, 100);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about-description-div {
    box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about-description {
  color: rgb(112, 108, 100);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    margin: 0.5rem 0rem !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.editor-box, .about-textarea {
    min-height: 140px;
    position: relative;
    overflow: auto;
    margin: 0 !important;
    padding: 10px;
    padding-bottom: 5px;
    outline: none;
    background: none;
    background: #fff !important;
    box-shadow: none !important;
    white-space: normal;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    direction: ltr;
    unicode-bidi: isolate;
    overflow: visible;
    border: 1px solid #ddd;
    background-color: #fff;
}

.about-textarea {
  border: none;
  font-size: 16px;
  display: block;
  resize: none;
  width: 100%;
}

.outer-footer {
  display: block;
  color: rgb(20, 21, 24);
  font-family: aktiv-grotesk, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.mid-main {
  box-sizing: border-box;
  display: block;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 660px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title-mid-main {
  align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    align-self: center;
}

.title-mid {
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    position: relative;
    align-self: center;
}


.mid-panel1 {
  flex-basis: 25%;
  max-width: 25%;
  box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    padding: 0rem 0.5rem;
}

.mid-panel2 {
  box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.mid-panel3 {
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.mid-panel4 {
   box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.mid-panel5 {
  box-shadow: none;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(229, 227, 221);
    border-bottom: 1px solid rgb(229, 227, 221);
    border-left: 1px solid rgb(229, 227, 221);
    border-right: 1px solid rgb(229, 227, 221);
    border-radius: 4px;
    overflow: hidden;
}

.mid-panel6 {
  box-sizing: border-box;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.upper-right-title {
  box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    margin-top: 0rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    margin-left: -1rem;
    border-radius: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border-bottom: 1px solid rgb(229, 227, 221);
}

.upper-right-text {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding: 1rem;
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    margin: 0.5rem 0rem !important;
    text-align: left;
}

.get-started-link {
  text-align: left;
  display: block;
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.ur-title1 {
  -webkit-box-align: center;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.ur-title2 {
  display: block;
}

.ur-title {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 1em;
    margin-inline-end: 0px;
}

.main-create1 {
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: none;
}

.main-create2 {
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: visible;
    color: rgb(0, 76, 129) !important;
    font-size: 0.875rem !important;
    pointer-events: unset;
    text-align: center;
    text-transform: none;
    user-select: none;
    white-space: unset;
    font-weight: 500;
    width: max-content;
    height: max-content;
}

.main-create-link {
  -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(225, 240, 250);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-transform: none;
    user-select: none;
    white-space: unset;
    width: unset;
    color: rgb(0, 76, 129) !important;
    font-size: 0.875rem !important;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 240, 250);
    border-image: initial;
    padding: .1rem 1rem .1rem 1rem;
    text-decoration: none;
    font-family: aktiv-grotesk, sans-serif;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.main-svg {
  margin-left: auto;
    margin-right: auto;
    display: block;
    height: 1rem;
    width: 1rem;
    animation: 1.116s linear 0s infinite normal none running cJiLXh;
    padding: 1.5px;
    overflow: visible;
}

.main-circle1 {
  transform-origin: 0px 0px;
    fill: none;
    stroke: transparent;
    stroke-width: 12;
}

.main-circle2 {
  fill: none;
    stroke: rgb(0, 76, 129);
    stroke-dasharray: 180;
    transform-origin: center center;
    stroke-width: 12;
    animation: 1.8s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite normal none running fnezX;
}

.mid-main1 {
  display: block;
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    background-image: none;
    background-color: rgb(255, 255, 255);
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 100%;
}

.mid-main2 {
  width: 100%;
  overflow: hidden;
  color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
}

.mid-main3 {
  box-sizing: border-box;
    max-width: 72rem;
    width: 100%;
    margin: 0px auto;
}

.mid-main4 {
    box-sizing: border-box;
    width: 100%;
    padding-top: 0rem;
    padding-right: 3rem;
    padding-bottom: 0rem;
    padding-left: 3rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.title-mid1 {
  align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: -0.5rem;
    margin-bottom: 0rem;
    margin-left: -0.5rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.title-mid2 {
  display: block;
  box-sizing: border-box;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0rem 0.5rem;
}

.title-mid3 {
  box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.title-mid4 {
  box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.title-mid5 {
  display: block;
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.title {
  line-height: 1.25 !important;
  color: rgb(36, 30, 18);
    font-family: Walsheim, sans-serif;
    position: relative;
    text-align: center;
    font-weight: 700 !important;
    font-size: 2.625rem !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: block;
    margin-top: 24%;
}

.main-desc1 {
  align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: -0.5rem;
    margin-bottom: 0rem;
    margin-left: -0.5rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.main-desc2 {
  width: 100%;
  display: block;
  color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
}

.main-desc3 {
  box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


.main-desc4 {
  align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: -0.5rem;
    margin-bottom: 0rem;
    margin-left: -0.5rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.main-desc5 {
  display: block;
  box-sizing: border-box;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0rem 0.5rem;
}

.main-desc6 {
  box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.main-desc7 {
  box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 4rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.main-desc8 {
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    max-width: 800px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: block;
}

.main-desc9 {
  color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-size: 1.25rem;
    line-height: 2;
    text-align: center;
    font-weight: 400 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: block;
  }

  .outer-footer1 {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    display: block;
  }

  .outer-footer2 {
    display: block;
    background-color: rgb(20, 21, 24);
  }

  .outer-footer3 {
    display: block;
    width: 100%;
  }

  .outer-footer4 {
    display: block;
    box-sizing: border-box;
    max-width: 72rem;
    width: 100%;
    margin: 0px auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  .footer-1 {
    align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: -0.5rem;
    margin-bottom: 0rem;
    margin-left: -0.5rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

  .footer1 {
    display: block;
    box-sizing: border-box;
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    padding: 0rem 0.5rem;
  }
  
  .footer2 {
    display: block;
    box-sizing: border-box;
    order: 3;
    max-width: 66.6667%;
    flex: 0 0 66.6667%;
    padding: 0rem 0.5rem;
  }

  .footer3, .footer4, .footer5, .footer6 {
    box-sizing: border-box;
    order: 2;
    flex-basis: 16.6667%;
    margin-left: 0%;
    max-width: 16.6667%;
    flex: 0 0 50%;
    padding: 0rem 0.5rem;
  }

  .footer3 {
    padding-top: 1.1rem;
  }
  .footer1-div {
    box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: s 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    margin-left: -93px;
  }
.footer1-div2 {
  justify-content: left;
  align-items: left;
}

  .platereon-logo {
    height: 6.5rem;
    width: 10rem;
    align-self: center;
    fill: transparent;
    stroke-width: 1.2;
    margin-right: 10rem;
  }

   .footer22 {
    box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

   .footer23 {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

   .footer24 {
    display: block;
    height: unset;
    width: unset;
    padding-top: 0.375rem;
  }

   .footer25 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: unset;
    width: unset;
    margin: -0.75rem -0.375rem -0.375rem;
    align-items: center;
  }

  .twit, .face, .insta {
    height: unset;
    width: unset;
    margin: 0.375rem;
    display: block;
  }

  .twit2, .face2, .insta2 {
    align-self: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    filter: none;
    cursor: unset;
    vertical-align: unset;
    height: unset;
    width: unset;
    
  }
  .twit3 > img{
    align-self: center;
    fill: transparent;
    stroke-width: 1.2px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transform: scale(1.2);
  }

  .face3 > img {
    align-self: center;
    stroke-width: 1.2px;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transform: scale(1.17);
  }

  .insta3 > img {
    align-self: center;
    stroke-width: 1.2px;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    transform: scale(1.3);
  }
  .face3 {
    background-color: whitesmoke;
    border-radius: 50%;
  }

  .footer31 {
    box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

  .footer32 {
    box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

.footer-ul1 {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: rgb(255, 255, 255);
    font-family: aktiv-grotesk, sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    text-align: left;
    margin-top: 10px;
    font-weight: 700 !important;
    font-size: 0.625rem !important;
    line-height: 1.5 !important;
    border-radius: 4px;
}

.footer-ul11, .footer-ul12, .footer-ul13, .footer-ul14 {
  display: block;
    font-weight: 400;
    max-width: 100%;
    text-overflow: ellipsis;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 4px;
    overflow: hidden;
}
.footer-ul10 {
    color: rgb(255, 255, 255);
    font-family: aktiv-grotesk, sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700 !important;
    font-size: 0.625rem !important;
    line-height: 1.5 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about1 {
  align-items: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: -0.5rem;
    margin-bottom: 0rem;
    margin-left: -0.5rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about2 {
  max-width: 50%;
  flex-basis: 50%;
  margin-left: 25%;
  flex: 0 0 100%;
    padding: 0rem 0.5rem;
    display: block;
    box-sizing: border-box;
}

.about3 {
  box-sizing: border-box;
    display: block;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about4 {
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 3rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about-title {
  display: block;
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about-title1 {
  color: rgb(36, 30, 18);
    font-family: Walsheim, sans-serif;
    position: relative;
    text-align: center;
    font-weight: 700 !important;
    font-size: 2.125rem !important;
    line-height: 1.25 !important;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.about-body {
  display: block;
  box-shadow: none;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(229, 227, 221);
    border-bottom: 1px solid rgb(229, 227, 221);
    border-left: 1px solid rgb(229, 227, 221);
    border-right: 1px solid rgb(229, 227, 221);
    border-radius: 4px;
    overflow: hidden;
}

.about-body1 {
  display: block;
  text-align: justify;
  box-sizing: border-box;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.about-body2 {
  display: block;
  box-shadow: none;
    background-color: rgb(255, 255, 255);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    overflow: hidden;
}

.about-body3, .about-body4 {
  box-sizing: border-box;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: block;
}


.about-body5 {
  position: relative;
    height: 400px;
    overflow: hidden;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    display: block;
}

.about-body6, .about-body7, .about-body8, .about-body9 {
  display: block;
  color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
}
