/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .NavBar {
   background-color: white;
   position: sticky;
   margin-top: 19px;
   margin-bottom: 19px;
 }

 .header-login, .header-signup {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    text-decoration: none;
 }

 .header-signup {
    background-color: rgb(232, 91, 70);
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 9999px;
    padding: 0.46875rem 1rem;
    margin-left: 20px;
 }

 .main-header {
   margin-top: 0;
 }

 .main-description {
    color: white;
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: 400;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
 }

 .main {
   display: flex;
   padding-top: 100px;
   padding-bottom: 100px;
   background-color: rgb(20, 21, 24);
   background-size: cover;
 }

 .main-text {
    position: relative;
    margin: 0;
    color: #ff0000ee;
    font-family: Walsheim, sans-serif;
    position: relative;
    text-align: left;
    font-weight: 700 ;
    font-size: 1.75rem ;
    line-height: 1.25 ;
    -webkit-font-smoothing: antialiased;  
    background-color: rgb(20, 21, 24);
    width: 50%;
    left: 40px;
    right: 40px;
    padding-left: 40px;
    margin-right: 40px;
 }

 .main-video {
   position: relative;
   margin: 0;
   overflow: hidden;
   color: white;
   width: 50%;
   background-color:  rgb(20, 21, 24);
   height: 100%;
   -webkit-font-smoothing: antialiased;  
    left: 40px;
    right: 40px;
    padding-left: 40px;
    margin-right: 40px;
 }

 .get-started {
    background-color:  #ff0000ee;;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    position: relative;
    text-align: center;
    text-transform: none;
    color: rgb(255, 255, 255);
    font-size: 1rem ;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff0000ee;
    padding: 0.78125rem 1.5rem;
    text-decoration: none;
    color: white;
 }

 .get-started > a {
   text-decoration: none;
   color: white;
 }

 .demo-button {
   background-color:  #ff0000ee;;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    position: relative;
    text-align: center;
    text-transform: none;
    color: rgb(255, 255, 255);
    font-size: 1rem ;
    border-radius: 9999px;
    border-width: 0px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-color: #ff0000ee;
    margin-bottom: 3px;
    text-decoration: none;
    padding: 0;
    left: 20px;
 }

 .login-signup {
  margin-top: 40px;
 }

 .user-page {
   border-top: solid lightgray 1px;
   text-align: center;
 }

 .login, .signup {
   border-top: solid lightgray 1px;
 }

 nav.NavBar {
   display: flex;
   justify-content: space-between;
 }

 svg {
  width: 100%;
  height: 100%;
 }

 .food-video {
   margin: 0;
   padding: 0;
   border: none;
   size: 100%;
 }

.login-form-container, .signup-form-container  {
  display: block;
  text-align:  center;
}

.login-form-header, .signup-form-header {
    color: rgb(36, 30, 18);
    font-family: Walsheim, sans-serif;
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.25;
    border-top: solid lightgray 1px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 21px;
    display: block;
}

.login-form-box, .signup-form-box {
  display: block;
  width: 100%;
  text-align: center;
}

.login-form, .signup-form {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    display: inline-block;
    align-content: center;
    width: 514px;
    border: solid lightgray 1px;
}

.login-form label, .signup-form label {
  display: block;
  text-align: left;
  color: rgb(112, 108, 100);
  font-size: 14px;
}

.login-form input, .signup-form input {
  margin-bottom: 22px;
  width: 100%;
}


#password, #email {
    margin-top: 10px;
    resize: none;
    min-width: 0px;
    width: 100%;
    font-weight: normal;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(36, 30, 18);
    height: 3rem;
    font-size: 1rem !important;
    background: rgb(245, 244, 242);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-image: initial;
    outline: none;
    padding: 0.75rem 1rem;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    border-radius: 4px;
}
.session-submit {
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(232, 91, 70);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-transform: none;
    user-select: none;
    white-space: unset;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 91, 70);
    border-image: initial;
    padding: 0.78125rem 1.5rem;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.other-form {
    display: block;
    font-family: aktiv-grotesk, sans-serif;
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.login-link-text, .signup-link-text {
    display: inline-block;
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    right: 2px;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    
}

.login-link-text > a, .signup-link-text > a {
  display: inline-block;
  color: rgb(232, 91, 70);
  cursor: pointer;
  left: 3px;
  position: relative;
  margin-top: 22px;
}

.current-user-menu {
  cursor: pointer;
  background-color: rgb(232, 91, 70);
  border-radius: 10%;
  font-weight: 700;
  position: relative;
}

.current-user-menu > ul {
  display: none;
  list-style: none;
}

.current-user-menu:hover > ul {
  display: block;
  position: absolute;
  text-align: left;
  font-weight: 400;
  margin-top: 0;
}

.DemoUser-page {
  text-align: center;
}