// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-post-form-container {
  width: 60%;
  display: contents;
}
.new-post-form {
  box-sizing: border-box;
  width: auto;
  height: fit-content;
  align-items: center;
}

  .post-form {
    box-sizing: border-box;
    width: 500px !important;
    height: fit-content;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  #attached-images-outer {
    display: inline-flex;
    margin-left: 2.1%;
    display: inline-flex;
    margin-right: 2.1%;
  }

  #attached-images {
    width: 100%;
  }
      .images-attached {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
      }
        .post-img {
          object-fit: cover !important;
          max-width: 50% !important;
          max-height: 50% !important;
          // all: unset !important;
          // overflow-wrap: break-word !important;
          // transform: scale(.1) !important;
          border-radius: 4px !important;
        }

      .post-textarea {
        text-align: unset;
        all: unset;
        width: 100%;
        min-height: 250px;
        overflow-wrap: break-word;
        
      }

      .post-body {
        text-align: left;
        width: 100%;
        justify-content: center;
        display: flex;
      }

      .post-body-container {
        width: 50%;
        border-style: groove;
      }

      .post-create {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        visibility: visible;
        color: rgb(0, 76, 129) !important;
        font-size: 0.875rem !important;
        pointer-events: unset;
        text-align: center;
        text-transform: none;
        user-select: none;
        white-space: unset;
        font-weight: 500;
      }

.post-cover1 {
  width: 100%;
    display: block;
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.post-cover2 {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 72rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.25rem;
    padding-bottom: 0rem;
}

.post-cover3 {
  width: 100%;
  display: block;
}

.post-cover4 {
  box-sizing: border-box;
    margin: 0px auto;
    max-width: 52rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    display: block;
}

.post-cover5 {
    align-items: flex-start;
    place-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem -0.5rem;
}

.post-cover6 {
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 0rem 0.5rem;
    max-width: 100%;
}

.post-cover7 {
    box-sizing: border-box;
    display: block;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem 0rem 1rem;
    margin: 0rem;
}

.post-cover8 {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-radius: 4px;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.post-cover9 {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-cover10 {
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
    border-bottom: 1px solid rgb(229, 227, 221);
}

.post-cover11 {
    box-sizing: border-box;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-type1 {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-type2 {
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 1rem;
    margin: 0rem;
    
}

.post-type3 {
    -webkit-box-align: center;
    align-items: center;
    place-content: flex-start space-between;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-type4 {
  display: block;
  color: rgb(36, 30, 18);
  font-family: aktiv-grotesk, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.post-type5 {
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  color: rgb(36, 30, 18);
  font-family: aktiv-grotesk, sans-serif;
  margin: 0px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  font-weight: 700 !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
}

.post-types {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1px;
    margin-bottom: -1px;
}

.posts {
    border-right: 1px solid rgb(229, 227, 221);
    border-bottom: 1px solid rgb(229, 227, 221);
    box-sizing: border-box;
    cursor: pointer;
    flex-basis: 33.3333%;
    padding: 1.5rem 0px;
    text-align: center;
    outline: 0px;
}

.posts-img {
    align-self: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    filter: none;
    cursor: unset;
    vertical-align: unset;
    height: unset;
    width: unset;
}

.posts-text {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 1rem 0rem 0rem;
    display: block;
}

.posts:hover {
  background-color: rgb(247, 247, 247);
}

.posts {
  text-decoration: none;
  color: rgb(36, 30, 18);
}

.post-image-list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.post-image-list-item {
  list-style: none;
  text-decoration: none;
  
}
.post-image {
  width: 100px;
  height: auto;
}

.post-list {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding: 0px;
    text-align: inherit;
    list-style: none;
    margin: 0px;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  // grid-area: main / main / main / main;
  // grid-auto-rows: max-content;
  // gap: 1.5rem;
  overflow: hidden;
  width: 100%;
  align-items: center;
  // grid-template-columns: 2fr 1fr;
  // grid-row: 1 / auto;
  // grid-column: 1 / span 2;
}

.post-list-container1 {
  display: block;
  width: 60%;
}

.post5 {
  color: rgb(36, 30, 18);
  font-family: aktiv-grotesk, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  display: block;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 1rem 0rem;
}

.post4 {
  display: block;
}

.post3 {
  box-sizing: border-box;
  overflow: visible;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
  overflow-wrap: break-word;
}

.post2 {
    box-sizing: border-box;
    overflow: visible;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
    overflow-wrap: break-word;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-radius: 4px;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    overflow: visible;
}

.post1 {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}

.post-media {
    text-align: center;
    overflow: hidden;
    position: relative;
}

.post-media-container {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-media-container img {
    max-width: 100%;
    height: auto;
}

.post-media-container ul {
    list-style: none;
    padding: 0;
}

.post-content {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 1rem 1rem 0rem;
  margin: 0rem;
}

.post-title1 {
  margin-bottom: 0.25rem;
}

.post-title-date {
    position: relative;
}

.post-title-date1 {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-datetime {
    box-sizing: border-box;
    display: inline-block;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-datetime1 {
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    text-overflow: ellipsis;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    vertical-align: bottom;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    display: inline-block;
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    color: rgb(106, 103, 95);
}

.post-datetime2 {
    color: rgb(112, 108, 100);
    font-family: aktiv-grotesk, sans-serif;
    letter-spacing: 0.1em;
    margin: 0px;
    position: relative;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: left;
    font-weight: 700 !important;
    font-size: 0.625rem !important;
    line-height: 1.5 !important;
}

.post-title-title {
    align-items: flex-start;
    place-content: flex-start space-between;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.post-title-title span {
  font-weight: 700;
  font-size: 1.3125rem !important;
}

.post-title-title a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

.post-body2 {
  white-space: pre-line;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  line-height: 1.5;
}

.post-body1 {
  display: block;
  white-space: pre-line;
  line-height: 1.5;
  font-size: 1rem !important;
  text-align: justify;
}

.react-player {
  width: 100% !important;
}

.unlocked {
  display: inline-block;
  margin-top: 0.25rem;
  cursor: auto;
}

.unlocked1 {
  box-sizing: border-box;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem 0.25rem 0rem 0rem;
}

.lock-status {
  color: rgb(112, 108, 100);
  font-family: aktiv-grotesk, sans-serif;
  margin: 0px;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  white-space: nowrap;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  overflow-wrap: break-word;
}

.lock-image {
  display: block;
  color: rgb(112, 108, 100);
  font-family: aktiv-grotesk, sans-serif;
  margin: 0px;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  line-height: 1;
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.lock-image1 {
  align-self: center;
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  filter: none;
  cursor: unset;
  vertical-align: unset;
  height: unset;
  width: unset;
}

.lock-image2 {
  opacity: 65%;
}

.text-form1 {
  display: block;
  color: rgb(36, 30, 18);
  font-family: sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  font-weight: 700;
}

.text-form2 {
  width: 100%;
  min-height: 100vh;
}

.text-form3 {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 1rem 0.5rem 2.5rem;
    margin: 0rem;
}

.text-form4 {
  width: 100%;
}

.text-form5 {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 72rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.text-form6 {
  display: block;
}

.text-form7 {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
    display: block;
}

.text-form8 {
  width: 100%;
  display: block;
}

.text-form9 {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 72rem;
  width: 100%;
}

.text-form10 {
  align-items: flex-start;
    place-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem -0.5rem;
}

.text-form-left {
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 0rem 0.5rem;
    max-width: 66.6667%;
    flex-basis: 66.6667%;
}

.text-form-left1 {
    box-sizing: border-box;
    display: block;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem 0rem 1rem;
    margin: 0rem;
}

.text-form-left2 {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 227, 221);
    border-radius: 4px;
    box-shadow: none;
    background-color: rgb(255, 255, 255);
    overflow: visible;
}

.text-form-left3 {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.text-form-left4 {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1rem;
}

.text-form-left41 {
  border-top: 2px solid #e8eced;
  padding: 0;
}

.text-form-title {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 1rem 1.5rem;
    margin: 1rem 0rem 0rem;
}

.text-form-post {
    max-height: 400px;
    overflow-y: scroll;
    margin-left: -3rem;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 4.5rem;
}

.text-post-x2 {
  height: 1rem;
  width: 1rem;
}

.text-post-close {
  text-decoration: none;
  color: black;
}

.text-post-x1 {
    align-self: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    filter: none;
    cursor: unset;
    vertical-align: unset;
    height: unset;
    width: unset;
}

.text-post-x {
    float: right;
    cursor: pointer;
}

.text-post-type {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.text-post-type-img {
  margin-right: 0.5rem;
  display: inline-flex;
}

.text-form-type-text {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    margin: 0px;
    position: relative;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    font-weight: 700 !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
}

.text-form-title1 {
  position: relative;
}

.text-form-title-input {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  position: relative;
}

.text-form-title-input1 {
  line-height: normal;
  color: inherit;
  font: inherit;
  margin: 0px;
  appearance: none;
  background: none;
  border: none;
  resize: none;
  min-width: 0px;
  width: 100%;
  font-weight: bold;
  font-size: 1.625rem !important;
}

.text-form-title-input1::placeholder {
  opacity: 80%;
}

.text-form-title2 {
  align-items: flex-start;
  place-content: flex-start flex-end;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}

.text-form-title3 {
  align-items: flex-start;
  place-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}

.text-form-body1 {
  font-weight: 400;
  cursor: text;
  position: relative;
  display: block;
}

.text-form-body2 {
  min-height: 150px;
}

.text-form-body4 {
  position: relative;
  height: inherit;
  text-align: initial;
}

.text-form-body-input {
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  min-height: 150px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: relative;
}

.text-form-body-input1 {
  min-height: 150px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: relative;
  resize: none;
  color: #241E12;
  font-size: 16px;
  font-family: sans-serif;
}

.text-form-body-input1::placeholder {
  opacity: 80%;
}

.text-form-right {
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: 0rem 0.5rem;
    max-width: 33.3333%;
    flex-basis: 33.3333%;
}

.text-form-right1 {
  box-sizing: border-box;
  display: block;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem 0rem 1rem;
  margin: 0rem;
}

.text-form-right2 {
    -webkit-box-align: stretch;
    align-items: stretch;
    place-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem; 
}

.text-form-right3 {
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem 0rem 1rem;
  margin: 0rem;
}

.text-form-right4 {
  color: rgb(36, 30, 18);
  font-family: aktiv-grotesk, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  display: block;
}

.text-form-right5 {
  align-self: center;
  box-sizing: border-box;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
}

.text-form-right6 {
    appearance: none;
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    cursor: pointer;
}

.text-form-right7 {
  -webkit-box-align: stretch;
  align-items: stretch;
  place-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
}

.text-form-right8 {
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 9999px;
    box-sizing: border-box;
    cursor: default;
    display: inline-flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.78125rem 1.5rem;
    position: relative;
    pointer-events: none;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    user-select: none;
    white-space: unset;
    width: 100%;
    font-size: 1rem !important;
}

.text-form-right81 {
    appearance: none;
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    width: 1px;
    opacity: 0.33;
    display: block;
}

.text-form-right82 {
    appearance: button;
    overflow: visible;
    font: inherit;
    margin: 0px;
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(0, 76, 129);
    border-radius: 9999px;
    border: 1px solid rgb(0, 76, 129);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.78125rem 1.5rem;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    user-select: none;
    white-space: unset;
    width: unset;
    color: rgb(255, 255, 255) !important;
    font-size: 1rem !important;
}

.text-form-right8 > div {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: visible;
}

.communities-dropdown1 {
  display: flex;
}

.communities-dropdown2 {
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
}

.communities-dropdown3 select {
  width: -webkit-fill-available;
  margin-top: 1rem;
}

#communities-dropdown {
  font-family: sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding-left: 2.1%;
  margin-right: 2.1%;
}

.communities-dropdown5 {
  margin-bottom: 2.1%;
}

.post-upload {
  text-align: left;
  margin-left: 2.7%;
  margin-bottom: 2.1%;
  font: 700 13.3333px Arial !important;
}

#image-input {
  top: -10px;
  margin: 10px;
}

#video-input {
  margin-left: 1rem;
  min-width: 65%;
  border: none;
}

.video-input {
    text-align: left;
    margin-left: 2.5%;
    font: 700 13.3333px Arial !important;
    margin-top: 2.1%;
    margin-bottom: 2.1%;
}

input[type='file'] {
  color: transparent;
}

.file-wrapper input {
  margin: 10px;
  width:100px;
  height:40px;
  cursor: pointer;
  font-size: 1px;
  filter: alpha(opacity=1);
  -moz-opacity: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  
}
.file-wrapper .button {
  margin: 10px;
  width:100px;
  height:16px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 40%;
  -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(0, 76, 129);
    border-radius: 9999px;
    border: 1px solid rgb(0, 76, 129);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.46875rem 1rem;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    user-select: none;
    white-space: unset;
    width: unset;
    color: rgb(255, 255, 255) !important;
    font-size: 0.875rem !important;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}