// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-search {
  display: inline-block;
  background-color: rgb(245, 244, 242);
    border-radius: 9999px;
    cursor: default;
    padding: 0.5rem 0.75rem;
    right: 0px;
    width: auto;
}

#nav-search input {
  padding: 1px 2px;
  -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: none;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: none;
    background-color: #F5F4F2;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    border: none;
    text-size-adjust: 100%;
    margin-top: 0;
    top: 0;
    width: 100%;    
    overflow: hidden;
}

#nav-search input:focus, textarea {
 outline: none !important;
}

.search-results-list {
  list-style: none;
  padding-left: 0;
}

.search-results-list-item {
  color: rgb(34, 29, 17);
  text-decoration: none;
  cursor: pointer;
  line-height: 1.25 !important;
  font-size: 1.3125rem !important;
  text-overflow: ellipsis;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  vertical-align: bottom;
  display: inline-block;
  font-weight: 700;
  max-width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.results-header {
  margin-top: 4px;
  font-size: 34px;
  line-height: 1.25 !important;
  font-size: 2.125rem !important;
  color: rgb(36, 30, 18);
  font-family: sans-serif;
  margin: 0px;
  position: relative;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  font-weight: 600 !important;
}

#search-results4 {
  display: block;
}

#search-results3 {
  width: 100%;
}

#search-results2 {
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 52rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

#search-results1 {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem 2rem;
  margin: 0rem;
  text-align: left;
}

.results-header-container {
  padding-top: 2rem;
  text-align: initial;
  padding-bottom: 3rem;
}

.search-item2 {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.search-item1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(245, 244, 242);
    padding: 2rem 0rem;
}

.result-icon {
  text-decoration: none;
  
}

.result-icon1 {
    display: block;
    border-radius: 50%;
    background-clip: padding-box;
    background-image: url(https://c8.patreon.com/2/200/7025471);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 5rem;
    width: 5rem;
    min-width: 5rem;
    cursor: pointer;
}

.result-name {
    margin-left: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: rgb(36, 30, 18);
    font-family: sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.search-desc {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0.25rem 0rem 0rem;
    margin: 0rem;
    display: block;
}

.search-desc1 {
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    margin: 0px;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    text-rendering: optimizeLegibility;
}

.plateron {
  display: block;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0.25rem 0rem 0rem;
  margin: 0rem;
}

.plateron1 {
    color: rgb(177, 172, 163);
    font-family: aktiv-grotesk, sans-serif;
    letter-spacing: 0.1em;
    margin: 0px;
    position: relative;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: center;
    font-weight: 700 !important;
    font-size: 0.625rem !important;
    line-height: 1.5 !important;
    text-rendering: optimizeLegibility;
}

.count { 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.count1 {
    line-height: 1.5 !important;
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    margin: 0px;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: center;
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.search-main4 {
  display: block;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
  background-image: none;
  background-color: rgb(255, 255, 255);
}

.search-main3 {
  width: 100%;       
}

.search-main2 {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 72rem;
    width: 100%;          
}

.search-main1 {
  padding-top: 3.5rem;
  padding-left: 3rem;
  padding-bottom: 6rem;
  padding-right: 3rem;
}

.search-main-title5 {
  align-items: flex-start;
  place-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem -0.5rem;               
}

.search-main-title4 {
  display: block;
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 0rem 0.5rem;
  max-width: 100%;                 
}

.search-main-title3 {
    box-sizing: border-box;
    display: block;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem 0rem 1rem;
    margin: 0rem;                   
}

.search-main-title2 {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;                      
}

.search-main-title1 {
  display: block;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem 0rem 0rem;
}

.search-title-text {
    color: rgb(36, 30, 18);
    font-family: Walsheim, sans-serif;
    margin: 0px;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    text-align: center;
    font-weight: 700 !important;
    display: block;
    font-size: 2.625rem !important;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.25 !important;
    text-rendering: optimizeLegibility;
}

.search-main-inner4 {
    align-items: flex-start;
    place-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem -0.5rem;
}

.search-main-inner3 {
  display: block;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
}

.search-main-inner2 {
    display: block;
    color: rgb(36, 30, 18);
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.search-main-inner1 {
    box-sizing: border-box;
    display: flex;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.search-main-inner1 > #nav-search {
  display: block;
  box-sizing: border-box;
  -webkit-box-flex: 2;
  flex-grow: 2;
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding: 0rem;
  margin: 0rem;
  padding: 1px 2px;
}

.search-main-inner1 > #nav-search > form {
    margin-top: 0em;
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 1px 2px;
}

.search-main-inner1 > #nav-search > form > input {
    border-radius: 9999px;
    background-color: rgb(245, 244, 242);
    border: 0px;
    font-weight: 500;
    line-height: 2rem;
    width: 100%;
    font-size: 18px !important;
    padding-left: 0.75rem;
    text-overflow: ellipsis;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    appearance: textfield;
    box-sizing: content-box;
}

.search-main-button {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0.5rem 0rem 0rem;
    margin: 0rem;
    padding-left: 1.25rem;
    padding-top: 0em;
}

.search-main-inner1 .main-search-container {
  padding: 12px 24px;
  width: 100%;
}

.search-main-inner1 .main-search-input {
  font-size: 18px !important;
}

#main-page-search-button {
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(255, 66, 77);
    border-radius: 9999px;
    border: 1px solid rgb(255, 66, 77);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: 50px;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.78125rem 1.5rem;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    user-select: none;
    white-space: unset;
    width: unset;
    color: rgb(255, 255, 255) !important;
    font-size: 1rem !important;
}

.search-main-button1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2000;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: none;
}

.search-main-button2 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: visible;
}